html {

}

h1 {
	text-align: center;
}

img {
	display: block;
	max-width: 20%;
	margin: auto;
}

figcaption {
	text-align: center;
	padding: 1em;
}

ul {
	margin-top: 3em;
	margin-left: 3em;
}

li {
	height: 1.5em;
}

a {
	margin-left: 4.5em;
}
