h1{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

.grid {
	width: 450px;
	height: 300px;
	padding-bottom: 30px;
}

.grid.left {
	padding-left: 10px;
}

.grid.right {
	padding-right: 10px;
}